<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>
  <body>
    <header><%- include('header'); %></header>

    <h1>Hello Web Technologies</h1>
    <%- include('containers'); %>
    <script src="./js/script.js"></script>
  </body>
</html>
