<nav>
  <ul id="menu">
    <li class="header-text"><a href="/">Home</a></li>
    <li>
      <div id="menu">
        <select name="selYear" id="selYear">
          <option id="current-year" value="" selected disabled hidden>
            <%= year || 'Select a year' %>
          </option>
          <% for (let year of years) { %>
          <option value="<%=  year %>"><%= year %></option>

          <% } %>
        </select>
      </div>
    </li>

    <li id="faq">FAQ</li>
    <li id="contact">Contact</li>
    <li id="about">About</li>
  </ul>
</nav>
