<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>
  <body>
    <header><%- include('./header'); %></header>

    <h1></h1>
    <br />
    <!-- Our Festival year <%= year %> -->
    <%- include('containers'); %>
    <script src="/js/script.js"></script>
  </body>
</html>
